 *{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', Arial, sans-serif;
}
/*Header - fullscreen*/
.header{
    margin-top: 20px;
    display: grid;
    grid-template-columns:30% 60%;
    justify-content: flex-end;
  
}
.responsive{
display: none;
}

.textheader{
max-width: 60%;
padding: 0.5em;
font-family:'Open Sans', Arial, sans-serif;
}
.line1,.line2,.line{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;    
    margin: 3%;
    
    width: 100%;
    position: relative;
    -webkit-box-align: center;
    place-items: center flex-start;
    margin-bottom: 10px;
}

.settings{
 margin-top: 3%;
}
.imgheader{
   max-width: 70%;
    max-height:70%;
    border-radius: 100%;
    justify-self: center;
    margin-top: 10%;
    
}
.div1{
    display: grid;
    grid-template-columns: 40% 70%;
}

.bold{
    font-weight: 700;
}
.bio{
    margin-left: 10px;
    margin-bottom: 10%;
    margin-top: 30px;
    
}
.btn,.btnresponsive{
    font-size: 0.8rem;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 4px;
    outline: none;
    background-color: white;
    padding: 3px 15px;
 
}


h1{
    font-weight: 300;
}

.main{
 
   display: grid;
   grid-template-columns:repeat(3,2fr);
   grid-template-rows:repeat(4, 1fr);
   margin: 0 10% 5% 15%;
   justify-content: center;
   align-content: center;
   gap: 20px;
   
}
img{
    max-width: 100%;
    max-height: 100%;
 

}

  #album,#video{
    color:#ffffff;
    position: absolute;
    top:6%;
    left: 93%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
 
  }
 
  .container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .img1 {
    display: block;
    width: 100%;
    height: auto;
  }
  .icons{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;

}

  .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height:97%;
  transition: .3s ease;
  background-color:rgba(0,0,0,0.6);
  background-size: cover;
  visibility: hidden;
  
  }
  .container:hover .overlay {
    opacity: 1;
    width: 100%;
    height:97%;
    visibility: visible;
  }
  .container:hover .icons{
    visibility: visible;
  }

@media (max-width:400px)
{
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: auto ;
}
  
.main{
 
    display: grid;
    grid-template-columns:repeat(2,1fr);
    margin-left: 6%;
    justify-content: center;
    align-content: center;
    gap: 20px;
 }
 img{
     max-width: 100%;
     max-height: 100%;
     position: relative;
 }
 
 .header{
    display: none;
    
}
.responsive{
    display: grid;
    grid-template-columns: auto ;
   
}
.section1{
    display: grid;
    grid-template-columns: 1fr 1fr;

    
}
.imgheader{
    position: relative;
    top:1.5rem;
    left: -1rem;
    }

#settings{
     position: relative;
     top:0.3em; 
     padding-left: 10px;
    }
    
 .line{
    visibility: visible;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 5px;
    margin: 5px;
    grid-row: 2/-2;
}

.line1{
    position: relative;
    right: 20px;    
}

.line2{
display: flex;
    justify-content: center;
    font-size: 1em;
    align-content:center;
    max-width: 90%;
 }

.btnresponsive{
    margin: 5%;
    position: relative;
    left:85%;
    bottom: 100%;
    width: 100%;
    padding-left: 2rem;
    padding-right:2rem;

}

.bioresponsive{
margin: -5% 5% 2% 7%;
}
#album,#video{
    color:#ffffff;
    position: absolute;
    top:2%;
    left:84%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: scale(0.7);
 
  }
  .icons{
    color: white;
    position: absolute;
    top: 40%;
    left: 33%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: scale(0.7);
    text-align: center;
    visibility: hidden;

}

}

 @media (max-width:220px){
    html,body{
        max-width: 100%;
        font-size: 0.7rem;
    }
    .main{
 
        display: grid;
        grid-template-columns:1fr ; 
        justify-content: center;
        align-content: center;
        gap: 20px;
        margin-left: 5%;
        
    
        
     }
     img{
        max-width: 100%;
        max-height: 100%;
    }
  .section1{
   display: grid;
   font-size: 0.7em;
   size: 30px;
  }
  .settings{
    background-size: 100% 100%;


  }
    .btnresponsive{
   font-size: 0.5rem;
   padding:0 3em 0 3em;
   width: 100%;
   font-size:1.7em ;
   
    }

    #album,#video{
        color:#ffffff;
        position: absolute;
        top:2%;
        left:84%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: scale(0.7);
     
      }
      .icons{
        color: white;
        position: absolute;
        top: 40%;
        left: 33%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: scale(0.7);
        text-align: center;
        visibility: hidden;
    
    }
 }

  

 
 


 
 
